@tailwind base;
@tailwind components;
@tailwind utilities;

.glass_item {
  @apply absolute w-28;
  transform: translate(58%, 50%);
  top: 60px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 15%;
  /* height: 50%; */
  bottom: 0;
  padding: 0 10px;
  font-size: 15px;
  opacity: 0.7;
}
